.leftfloat {
  float: left;
  width: 15%;
}
.leftfloat > div {
  padding: 5px;
  width: 150px;
  border: 1px solid lightgrey;
  background-color: lightgreen;
}
.color-bold {
  background-color: orange;
  font-weight: bold;
}